<div class="container">
  <div class="row">
    <div class="col-12">
     <br>
     <br> 
      <div class="row divRows">
        
          <div class="col-4">
        
              <h3 > Si piensas que Netflix no es lo tuyo, no hay problema. Sin compromiso. Cancela online cuando quieras.</h3>
              <button type="button" class="btn btn-primary">Unrte ahora!!</button>
        
        </div>
  
        <div class="col-8">
            <img class="col-6 img-fluid" src="https://assets.nflxext.com/ffe/siteui/acquisition/home/thisIsNetflix/modules/asset_cancelanytime_withdevice.png"
              alt="">
        </div>
      </div>
      

    </div>
  </div>
</div>