<footer class="container">
  <div class="row">
    <div class="col-12 divFooter">
        <br>

        <div class="row">
          <h6 class="col-6">¿Preguntas? Llama al 01800-265-0161</h6>
        </div>
        <br>
      <div class="row">

        <p class="col-3">Preguntas frecuentes</p>
        <p class="col-3">Centro de ayuda</p>
        <p class="col-3">Cuenta</p>
        <p class="col-3">Prensa</p>

        <p class="col-3">Relaciones con inversionistas</p>
        <p class="col-3">Empleo</p>
        <p class="col-3">Tarjetas de Regalo</p>
        <p class="col-3">Formas de ver</p>

        <p class="col-3">Términos de uso</p>
        <p class="col-3">Privacidad</p>
        <p class="col-3">Preferencias de cookies</p>
        <p class="col-3">Informacion corporativa</p>

        <p class="col-3">Contactanos</p>
        <p class="col-3">Prueba de velocidad</p>
        <p class="col-3">Avisos Legales</p>
        <p class="col-3">Originales de Netflix</p>

      </div>
      <br>
      <div class="row ">
          <button class="col-3" type="button" class="btn btn-secondary">Español</button>  
      </div>
      <br>
      <div class="row">
          <p class="col-3">Netflix Mexico</p>
      </div>
    </div>
  </div>

</footer>